In [1]:
import pandas as pd
from geopy.geocoders import Nominatim



df = pd.read_csv("data_source/data.csv")    

print(df.isna().sum())
print(df.info())

ModuleNotFoundError: No module named 'geopy'

In [ ]:
df=df.dropna()
print(df.isna().sum())
# print (df.head(10))

Order No             0
Order Date           0
Customer Name        0
Address              0
City                 0
State                0
Customer Type        0
Account Manager      0
Order Priority       0
Product Name         0
Product Category     0
Product Container    0
Ship Mode            0
Ship Date            0
Cost Price           0
Retail Price         0
Profit Margin        0
Order Quantity       0
Sub Total            0
Discount %           0
Discount $           0
Order Total          0
Shipping Cost        0
Total                0
dtype: int64

In [ ]:
df = df.assign(Street=df['Address'].str.split(',', expand=True)[0],
               Suburb=df['Address'].str.split(',', expand=True)[1])



split_df = df['Address'].str.rsplit(',', n=1, expand=True)
df.drop(columns=['Address'], inplace=True)
# Assign the first part to the 'Street' column and the second part to the 'Suburb' column
df['Street'] = split_df[0]
df['Suburb'] = split_df[1]




df['Total'] = df['Total'].str.replace('$', '')
df['Total'] = df['Total'].str.replace(',', '').astype(float)

df['Cost Price'] = df['Cost Price'].str.replace('$', '')
df['Cost Price'] = df['Cost Price'].str.replace(',', '').astype(float)

df['Retail Price'] = df['Retail Price'].str.replace('$', '')
df['Retail Price'] = df['Retail Price'].str.replace(',', '').astype(float)

df['Profit Margin'] = df['Profit Margin'].str.replace('$', '')
df['Profit Margin'] = df['Profit Margin'].str.replace(',', '').astype(float)

df['Sub Total'] = df['Sub Total'].str.replace('$', '')
df['Sub Total'] = df['Sub Total'].str.replace(',', '').astype(float)

df['Discount $'] = df['Discount $'].str.replace('$', '')
df['Discount $'] = df['Discount $'].str.replace(',', '').astype(float)

df['Order Total'] = df['Order Total'].str.replace('$', '')
df['Order Total'] = df['Order Total'].str.replace(',', '').astype(float)

df['Shipping Cost'] = df['Shipping Cost'].str.replace('$', '')
df['Shipping Cost'] = df['Shipping Cost'].str.replace(',', '').astype(float)

df['Discount %'] = df['Discount %'].str.replace('%', '').astype(float)



print(df.head(2))

  Order No  Order Date     Customer Name    City State   Customer Type  \
0   4293-1  02-09-2014  Vivek Sundaresam  Sydney   NSW  Small Business
1   5001-1  24-10-2015    Shahid Hopkins  Sydney   NSW       Corporate

  Account Manager Order Priority  \
0    Tina Carlton       Critical
1    Natasha Song         Medium

                                     Product Name Product Category  ...  \
0  UGen Ultra Professional Cordless Optical Suite  Office Supplies  ...
1                             Bagged Rubber Bands  Office Supplies  ...

  Profit Margin Order Quantity Sub Total  Discount %  Discount $  Order Total  \
0        144.47           23.0   4533.52         2.0      194.83      4757.22
1          1.02            8.0     45.20         3.0        0.00        45.90

   Shipping Cost    Total               Street       Suburb
0           7.18  4291.55   152 Bunnerong Road  Eastgardens
1           0.70    46.91  438 Victoria Avenue    Chatswood

[2 rows x 25 columns]

C:\Users\WINDOWS 10\AppData\Local\Temp\ipykernel_3860\1121972339.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Total'] = df['Total'].str.replace('$', '')
C:\Users\WINDOWS 10\AppData\Local\Temp\ipykernel_3860\1121972339.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Cost Price'] = df['Cost Price'].str.replace('$', '')
C:\Users\WINDOWS 10\AppData\Local\Temp\ipykernel_3860\1121972339.py:21: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Retail Price'] = df['Retail Price'].str.replace('$', '')
C:\Users\WINDOWS 10\AppData\Local\Temp\ipykernel_3860\1121972339.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Profit Margin'] = df['Profit Margin'].str.replace('$', '')
C:\Users\WINDOWS 10\AppData\Local\Temp\ipykernel_3860\1121972339.py:27: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Sub Total'] = df['Sub Total'].str.replace('$', '')
C:\Users\WINDOWS 10\AppData\Local\Temp\ipykernel_3860\1121972339.py:30: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Discount $'] = df['Discount $'].str.replace('$', '')
C:\Users\WINDOWS 10\AppData\Local\Temp\ipykernel_3860\1121972339.py:33: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Order Total'] = df['Order Total'].str.replace('$', '')
C:\Users\WINDOWS 10\AppData\Local\Temp\ipykernel_3860\1121972339.py:36: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Shipping Cost'] = df['Shipping Cost'].str.replace('$', '')

In [ ]:
# df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d-%m-%Y')
# df['Order Date'] = df['Order Date'].astype(date)
print (df.head(3))
print (df.info())

  Order No Order Date     Customer Name       City State   Customer Type  \
0   4293-1 2014-09-02  Vivek Sundaresam     Sydney   NSW  Small Business
1   5001-1 2015-10-24    Shahid Hopkins     Sydney   NSW       Corporate
2   5004-1 2014-03-13     Dennis Pardue  Melbourne   VIC        Consumer

  Account Manager Order Priority  \
0    Tina Carlton       Critical
1    Natasha Song         Medium
2    Connor Betts  Not Specified

                                     Product Name Product Category  ...  \
0  UGen Ultra Professional Cordless Optical Suite  Office Supplies  ...
1                             Bagged Rubber Bands  Office Supplies  ...
2                 TechSavi Cordless Navigator Duo  Office Supplies  ...

  Profit Margin Order Quantity Sub Total  Discount %  Discount $  Order Total  \
0        144.47           23.0   4533.52         2.0      194.83      4757.22
1          1.02            8.0     45.20         3.0        0.00        45.90
2         38.87           45.0    873.32         4.0       72.23       837.57

   Shipping Cost    Total               Street       Suburb
0           7.18  4291.55   152 Bunnerong Road  Eastgardens
1           0.70    46.91  438 Victoria Avenue    Chatswood
2           7.18    82.58     412 Brunswick St      Fitzroy

[3 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4998 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order No           4998 non-null   object
 1   Order Date         4998 non-null   datetime64[ns]
 2   Customer Name      4998 non-null   object
 3   City               4998 non-null   object
 4   State              4998 non-null   object
 5   Customer Type      4998 non-null   object
 6   Account Manager    4998 non-null   object
 7   Order Priority     4998 non-null   object
 8   Product Name       4998 non-null   object
 9   Product Category   4998 non-null   object
 10  Product Container  4998 non-null   object
 11  Ship Mode          4998 non-null   object
 12  Ship Date          4998 non-null   object
 13  Cost Price         4998 non-null   float64
 14  Retail Price       4998 non-null   float64
 15  Profit Margin      4998 non-null   float64
 16  Order Quantity     4998 non-null   float64
 17  Sub Total          4998 non-null   float64
 18  Discount %         4998 non-null   float64
 19  Discount $         4998 non-null   float64
 20  Order Total        4998 non-null   float64
 21  Shipping Cost      4998 non-null   float64
 22  Total              4998 non-null   float64
 23  Street             4998 non-null   object
 24  Suburb             4998 non-null   object
dtypes: datetime64[ns](1), float64(10), object(14)
memory usage: 1015.2+ KB
None

In [ ]:
print(df.head(2))

  Order No Order Date     Customer Name    City State   Customer Type  \
0   4293-1 2014-09-02  Vivek Sundaresam  Sydney   NSW  Small Business
1   5001-1 2015-10-24    Shahid Hopkins  Sydney   NSW       Corporate

  Account Manager Order Priority  \
0    Tina Carlton       Critical
1    Natasha Song         Medium

                                     Product Name Product Category  ...  \
0  UGen Ultra Professional Cordless Optical Suite  Office Supplies  ...
1                             Bagged Rubber Bands  Office Supplies  ...

  Profit Margin Order Quantity Sub Total  Discount %  Discount $  Order Total  \
0        144.47           23.0   4533.52         2.0      194.83      4757.22
1          1.02            8.0     45.20         3.0        0.00        45.90

   Shipping Cost    Total               Street       Suburb
0           7.18  4291.55   152 Bunnerong Road  Eastgardens
1           0.70    46.91  438 Victoria Avenue    Chatswood

[2 rows x 25 columns]

In [ ]:
# df.drop(columns=['Address'], inplace=True)

# df.to_csv('data_source/cleaned_data3.csv', compression='gzip', index = False)

In [ ]:
# newdf = pd.read_csv("data_source/cleaned_data3.csv",compression="gzip")
# print(newdf.info())